<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>306200310044-ut73dilfb53btm077n4o2pcla0glgg6h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.306200310044-ut73dilfb53btm077n4o2pcla0glgg6h</string>
	<key>API_KEY</key>
	<string>AIzaSyCYPXZI3RYu6rtjW5Wgu2Aj8Cp7884B0SA</string>
	<key>GCM_SENDER_ID</key>
	<string>306200310044</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>host.exp.exponent</string>
	<key>PROJECT_ID</key>
	<string>ynot-3e1db</string>
	<key>STORAGE_BUCKET</key>
	<string>ynot-3e1db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:306200310044:ios:a2c5dfb2a94aa9776d0ad9</string>
</dict>
</plist>